# Dependencias base
ultralytics          # YOLOv8, RT-DETR
opencv-python
numpy
torch
torchvision          # SSD, Faster R-CNN, RetinaNet, FCOS
psutil

# Modelos baseados em Transformers (DETR, Conditional DETR, Deformable DETR)
transformers
Pillow

# EfficientDet
effdet
timm
